<b> The Sparks Foundation </b> <br>
Name: <b>Abhik Biswas</b> <br>
Task: <b> Prediction using Decision Classifier </b>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn

In [2]:
data = pd.read_csv('Iris.csv')

In [3]:
data = data.sample(frac = 1)

In [4]:
data.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
106,107,4.9,2.5,4.5,1.7,Iris-virginica
51,52,6.4,3.2,4.5,1.5,Iris-versicolor
136,137,6.3,3.4,5.6,2.4,Iris-virginica
29,30,4.7,3.2,1.6,0.2,Iris-setosa
36,37,5.5,3.5,1.3,0.2,Iris-setosa

In [5]:
data.shape

(150, 6)

In [6]:
data = data.drop('Id' , axis = 1)

In [7]:
data = data.reset_index()

In [8]:
data = data.drop('index' , axis = 1)

In [9]:
data.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm          Species
0            4.9           2.5            4.5           1.7   Iris-virginica
1            6.4           3.2            4.5           1.5  Iris-versicolor
2            6.3           3.4            5.6           2.4   Iris-virginica
3            4.7           3.2            1.6           0.2      Iris-setosa
4            5.5           3.5            1.3           0.2      Iris-setosa

In [10]:
pd.unique(data.Species)

array(['Iris-virginica', 'Iris-versicolor', 'Iris-setosa'], dtype=object)

In [11]:
species_name = list(data.Species)
species_coded = []
for i in species_name:
    if(i=='Iris-setosa'):
        species_coded.append(1)
    elif(i=='Iris-versicolor'):
        species_coded.append(2)
    elif(i=='Iris-virginica'):
        species_coded.append(3)

In [12]:
data['Species_Coded'] = species_coded

In [13]:
data.head()

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,Species_Coded
0,4.9,2.5,4.5,1.7,Iris-virginica,3
1,6.4,3.2,4.5,1.5,Iris-versicolor,2
2,6.3,3.4,5.6,2.4,Iris-virginica,3
3,4.7,3.2,1.6,0.2,Iris-setosa,1
4,5.5,3.5,1.3,0.2,Iris-setosa,1

In [14]:
x = data.iloc[:,0:3].values
y = data.iloc[:,-1].values

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
x_train , x_test , y_train , y_test = train_test_split(x , y , test_size = 0.2 , random_state = 42)

In [17]:
from sklearn.tree import DecisionTreeClassifier

In [18]:
dec_tree = DecisionTreeClassifier(criterion = 'entropy' , random_state = 42)

In [19]:
dec_tree.fit(x_train , y_train)

DecisionTreeClassifier(criterion='entropy', random_state=42)

In [20]:
prediction = dec_tree.predict(x_test)

In [21]:
from sklearn.metrics import accuracy_score , confusion_matrix

In [22]:
accuracy_score(y_test , prediction)

0.9

In [23]:
confusion_matrix(y_test , prediction)

array([[10,  0,  0],
       [ 0,  7,  2],
       [ 0,  1, 10]], dtype=int64)